# Server Configuration
PORT=8080
FLASK_ENV=development

# Gemini API Configuration
GEMINI_API_KEY=Your_key_here

# Firebase Configuration
FIREBASE_PROJECT_ID=inclusia-150123
FIREBASE_STORAGE_BUCKET=inclusia-501005-resources
# FIREBASE_CREDENTIALS can be:
# 1. A relative or absolute path to your Firebase service account JSON key file (e.g. firebase-service-account.json)
# 2. The raw JSON key content string (e.g. {"type": "service_account", ...})
# 3. A Base64-encoded representation of the service account JSON key string
FIREBASE_CREDENTIALS=Your_key_here

# MinerU API Configuration
MINERU_API_KEY=Your_key_here